<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <h1>TravelExpress</h1>
    </div>

    <%= link_to 'Rechercher un trajet', search_index_url %>
  </div>
</div>