<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <h1>TravelExpress</h1>
    </div>

      <%= form_tag("/search", method: "get") do %>
            <div class="row">
              <div class="col">
                <%= text_field_tag :ville_depart, @ville_depart, placeholder: 'Ville de départ', class: 'form-control' %>
              </div>
              <div class="col">
                <%= text_field_tag :ville_destination, @ville_destination, placeholder: 'Ville d\'arrivée', class: 'form-control' %>
              </div>
              <div class="col">
                <div class="actions btn-recherche-trajet">
                  <%= submit_tag("Rechercher", :class => "btn btn-primary") %>
                </div>
              </div>
            </div>
      <% end %>

    </div>
  </div>
