// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { padding-top: 80px; }

.container-padding-top {
  padding-top: 50px;
}
.bouton-recherche {
  input {
    width: 100%;
  }
}

.btn-recherche-trajet {
  .btn {
    width: 100%;
  }
  text-align: center;
}

.navbar-site {
  background: #fafafa;
  color: rgb(72, 72, 72);
  border-bottom: 1px solid #e4e4e4;
  padding-top: 20px;
  padding-bottom: 20px;

  a {
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: rgb(72, 72, 72);
  }
}

.title-section {
  font-family: cabin;
  font-weight: 700;
  color: #484848;
  padding-bottom: 25px;
}

.wide {
  width:100%;
  min-height: 380px;
  background-image: url("fond-2.jpg");
  background-size:cover;
  background-position-x: center;
}

.wide .logo img {
  width: 100%;
  padding-top: 55px;
}

.zone-recherche {
  padding-top: 50px;
}

.zone-recherche .btn {
  cursor: pointer;
}
