// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profil-container {

  padding-top: 50px;
  color: #383838;

}

.profil-picture-container {
  position: absolute;
  text-align: center;
  right: calc(50% - 50px);

  .profil-picture {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius:50%;
    position: relative;
    display: inline-block;

    img {
      max-width: 200%;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%)
    }
  }
}

.profil-details-container, .profil-conf-container {
  border: 1px solid #dce0e0;
  border-radius: 3px;
  padding: 20px;
  margin-top: 70px;

  h2 {
    margin-top: 25px;
  }
}

.profil-conf-container {
  margin-top: 40px;

  h2 {
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .btn {
    width: 100%;
  }
}

.radio {
   opacity: 0;
   position: absolute;
 }

.label {

  background-size: 45px 45px;
  background-repeat: no-repeat;
  background-color: white;
  width: 50px;
  height: 50px;
}

label#nodiscussion {
  background-image: image-url("nodiscussion.PNG");
}

label#discussion {
  background-image: image-url("discussion.PNG");
}

label#lotdiscussion {
  background-image: image-url("lotdiscussion.PNG");
}

label#nocigarette {
  background-image: image-url("nocigarette.PNG");
}

label#cigarette {
  background-image: image-url("cigarette.PNG");
}

label#lotcigarette {
  background-image: image-url("lotcigarette.PNG");
}

label#nomusique {
  background-image: image-url("nomusique.PNG");
}

label#musique {
  background-image: image-url("musique.PNG");
}

label#lotmusique {
  background-image: image-url("lotmusique.PNG");
}

label#noanimaux {
  background-image: image-url("noanimaux.PNG");
}

label#animaux {
  background-image: image-url("animaux.PNG");
}

label#lotanimaux {
  background-image: image-url("lotanimaux.PNG");
}

input[type="radio"]:checked + label {
  box-sizing: border-box;
  border: 2px solid #0086BF;
  border-radius: 3px;
}

.avis-elem {
  border: 1px solid #dce0e0;
  margin-top: 25px;
  margin-bottom: 0px;
  border-radius: 15px;
  transition: all 0.2s ease;
  padding: 20px;
  text-align: justify;

  &:hover {
    transition: all 0.2s ease;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
  }

  .avis-member {
    float: right;
  }
}