// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profil-container {

  padding-top: 50px;
  color: #383838;

}

.profil-picture-container {
  position: absolute;
  text-align: center;
  right: calc(50% - 50px);

  .profil-picture {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius:50%;
    position: relative;
    display: inline-block;

    img {
      max-width: 200%;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%)
    }
  }
}

.profil-details-container, .profil-conf-container {
  border: 1px solid #dce0e0;
  border-radius: 3px;
  padding: 20px;
  margin-top: 70px;

  h2 {
    margin-top: 25px;
  }
}

.profil-conf-container {
  margin-top: 40px;

  h2 {
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .btn {
    width: 100%;
  }
}