// Place all the styles related to the Trajets controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-date {
  select {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: calc(2.25rem + 2px);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
}

.trajet-elem {
  border: 1px solid #dce0e0;
  margin-bottom: 25px;
  border-radius: 3px;
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 20px;

  &:hover {
    transition: all 0.2s ease;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
  }
}

.section-reservation, .section-conducteur {
  border: 1px solid #dce0e0;
  border-radius: 3px;
  padding: 20px;
}

.section-reservation .btn, .section-conducteur .btn {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.section-conducteur {
  margin-top: 25px;
}

.section-informations i {
  min-width: 25px;
}

.btn-nouveau-trajet {
  margin-left: 35px;
  margin-top: 10px;
  float: right;
}

.btn-nouveau-trajet, .title-inline {
  display: inline-block;
}

.margin-top {
  margin-top: 50px;
}

.field-invisible {
  display: none;
}

.paiement-methods {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.field-nb-places {
  text-align: center;
}

.field-nb-places select {
  width: 60px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
}

.actions-large .btn {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.trajet-elem-buttons .btn {
  width: 100%;
}

.trajet-recherche-elem {
  padding-bottom: 6px;

  .infos-trajet {
    line-height: 10px;
  }

  .nb-places-restantes b {
    position: relative;
    top: 5px;
  }

}

.preferences {
    text-align: center;
}