// Place all the styles related to the Trajets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-date {
  select {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: calc(2.25rem + 2px);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  }
}

.trajet-elem {
  border: 1px solid #dce0e0;
  margin-bottom: 25px;
  border-radius: 3px;
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 20px;

  &:hover {
    transition: all 0.2s ease;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
  }
}

.section-reservation {
  border: 1px solid #dce0e0;
  border-radius: 3px;
  padding: 20px;
}

.section-reservation .btn {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  margin-top: 40px;
}

.section-informations i {
  min-width: 25px;
}

.btn-nouveau-trajet {
  margin-left: 35px;
  margin-top: -17px;
}

.btn-nouveau-trajet, .title-inline {
  display: inline-block;
}