<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @trajets.each do |trajet| %>
      <tr>
        <td><%= trajet.ville_destination %></td>
      </tr>
  <% end %>
</table>