<div class="container">

  <%= render partial: "submenu", :locals => {:member_id => @member }  %>

  <div class="row justify-content-center ">
    <div class="btn-retour-profil">
      <%= link_to "Retour au profil", :back %>
    </div>


  </div>
</div>
